logging:
  level: {{ LOG_LEVEL | default('INFO') }}

consumerTopic: {{ CONSUMER_TOPIC | default('custom-metrics') }}
producerTopic: {{ PRODUCER_TOPIC | default('metrics') }}

kafka:
  bootstrap.servers: {{ KAFKA_URI | default('kafka:9092') }}
  group.id: {{ KAFKA_GROUP_ID | default('monasca-transform-data') }}

tenantId: {{ ADMIN_ID | default('admin') }}